*{
				padding: 0;
				margin: 0;
}
header{
				background: #126a3f;
				text-align : center;
				color:#fff;
}

body {
				text-align : center;
				font-size: 28px;
				
}

.welcome{
				margin-top:30px;
				padding: 2px;
				margin-bottom:30px;
}

footer{
				background: #062113;
				color:#fff;
				text-align : center;
}
